{% extends "forum/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Hello, {{user.username}}</h1>
    {% endif %}
    <div class="container">
        {% for question in pertanyaan %}
            <div class="question">
                <h1>{{question.judul}}</h1>
                <p>{{question.konten}}</p>
                <pre>{{question.snippet}}</pre>
                <p>Posted by {{question.author}} at {{question.waktu_upload}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}