{% extends "forum/base.html" %}
{% block content %}
    <div class="container">
        <h1>My Answers</h1>
        {% for answer in jawaban %}
            <div class="question">
                <h1>{{answer.judul}}</h1>
                <p>{{answer.konten}}</p>
                <pre>{{answer.snippet}}</pre>
                <p>Posted by {{answer.author}} at {{answer.waktu_upload}}</p>
            </div>
        {% empty %}
            <h1>You have no answer yet</h1>
        {% endfor %}
    </div>
{% endblock content %}