{% extends "forum/base.html" %}
{% block content %}
        <h1>My Answers</h1>
        {% for answer in jawaban %}
            {% with pertanyaan=answer.pertanyaan_asal %}
                <div class="content-section zoom">
                    <div>
                        <p>{{answer.konten}}</p>
                        {% if answer.snippet %}
                            <pre class="content-section code">{{answer.snippet}}</pre>
                        {% endif %}
                        <p>Posted by {{answer.author}} at {{answer.waktu_upload}}</p>
                    </div>
                    <h4>Original Question:</h4>
                    <div class="content-section">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ pertanyaan.author }}</a>
                            <small class="text-muted">{{ pertanyaan.waktu_upload }}</small>
                        </div>
                        <h2><a class="article-title" href="{% url 'forum-question-detail' pertanyaan.id %}">{{ pertanyaan.judul }}</a></h2>
                        <p class="article-content">{{ pertanyaan.konten|stringformat:".100s" }}</p>
                    </div>
                    <a class="btn btn-outline-primary mr-2" href="{% url 'forum-answer-update' answer.id %}">Edit</a>
                    <a class="btn btn-outline-danger" href="{% url 'forum-answer-delete' answer.id %}">Delete</a>
                </div>
            {% endwith %}
        {% empty %}
            <h1>You have no answer yet</h1>
        {% endfor %}
{% endblock content %}