{% extends "forum/base.html" %}
{% block content %}
    <h1>My Questions</h1>
    {% for question in pertanyaan %}
        <article class="content-section zoom">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ question.author }}</a>
                <small class="text-muted">{{ question.waktu_upload }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'forum-question-detail' question.id %}">{{ question.judul }}</a></h2>
            <p class="article-content">{{ question.konten|stringformat:".100s" }}</p>
            <a class="btn btn-outline-primary mr-2" href="{% url 'forum-question-update' question.id %}">Edit</a>
            <a class="btn btn-outline-danger" href="{% url 'forum-question-delete' question.id %}">Delete</a>
        </article>

    {% empty %}
        <h1>You have no question yet</h1>
    {% endfor %}
{% endblock content %}