{% extends "forum/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="question">
            <h1>{{pertanyaan.judul}}</h1>
            <p class="text-muted">Posted by {{pertanyaan.author}} at {{pertanyaan.waktu_upload}}</p>
            <p>{{pertanyaan.konten|linebreaks}}</p>
            {% if pertanyaan.snippet %}
                <pre class="content-section code">{{pertanyaan.snippet}}</pre>
            {% endif %}
        </div>

        <div class="comment-section mh-300">
            {% if user.is_authenticated %}
                <div class="justify-content-center mt-3 mb-2">
                    <form method="POST" action="{% url 'forum-question-detail' pertanyaan.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            {% endif %}

            {% for comment in komentar %}
                <div class="comment">
                    <p class="m-0">{{comment.konten}} - 
                        <a href="#">{{comment.author}}</a> 
                        <span class="text-muted">
                            {{comment.waktu_upload}}
                        </span>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <h3>Discussions / <a href="{% url 'forum-answer-create' pertanyaan.id %}">Add New Answer</a></h3>
    </div>

    {% for answer in jawaban %}
        <div class="content-section">
            <div>
                <a href="#">{{answer.author}}</a>
                <small class="text-muted">{{answer.waktu_upload}}</small>
            </div> 
            <p class="my-2">{{answer.konten|linebreaks}}</p>
            {% if answer.snippet %}
                <pre class="content-section code my-2">{{answer.snippet}}</pre>
            {% endif %}
        </div>
    {% empty %}
            <h3>No one has posted an answer yet</h3>
    {% endfor %}

{% endblock content %}