{% extends "forum/base.html" %}
{% block content %}
    <div class="container">
        <div class="question">
            <h1>{{object.judul}}</h1>
            <p>{{object.konten}}</p>
            <pre>{{object.snippet}}</pre>
            <p>Posted by {{object.author}} at {{object.waktu_upload}}</p>
        </div>
    </div>
    {% for comment in komentar %}
        <div class="question">
            <h1>{{comment.judul}}</h1>
            <p>{{comment.konten}}</p>
            <p>Posted by {{comment.author}} at {{comment.waktu_upload}}</p>
        </div>
    {% empty %}
        <h1>You have no comment yet</h1>
    {% endfor %}
{% endblock content %}