{% extends "forum/base.html" %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Delete question</legend>
                <h2>Are you sure you want to delete the post "{{ object.judul }}"?</h2>
            </fieldset>
            <div>
                <button type="submit">Delete</button>
                <a href="{% url 'forum-question-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}