{% extends "forum/base.html" %}
{% block content %}
    <h1>Hello, {{user.username}}!</h1>
    <h3>Your contributions so far:</h3>
    <div class="g-container">
        <div class="content-section">
            <h3>{{ questions_asked }}</h3>
            <p>Questions Asked</p>
        </div>
        <div class="content-section">
            <h3>{{ answers_given }}</h3>
            <p>Answers Given</p>
        </div>
        <div class="content-section">
            <h3>{{ comments_made }}</h3>
            <p>Comments Made</p>
        </div>
    </div>
{% endblock content %}