{% extends "forum/base.html" %}
{% block content %}
    {% for question in pertanyaan %}
        <article class="content-section zoom">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ question.author }}</a>
                <small class="text-muted">{{ question.waktu_upload }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'forum-question-detail' question.id %}">{{ question.judul }}</a></h2>
            <p class="article-content">{{ question.konten|stringformat:".100s" }}</p>
        </article>

    {% empty %}
        <h1>question not found</h1>
    {% endfor %}
{% endblock content %}