body {
    color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
    color: #f9f9f9;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    color: #cbd5db;
    background-color: #282d35;
    padding: 10px 20px;
    border: 1px solid #cbd5db;
    border-radius: 3px;
    margin-bottom: 20px;
}

.cblue {
    color: #61dafb;
}

.article-title {
    color: #fafafa;
    text-decoration: none;
}

a.article-title:hover {
    color: #61dafb;
}

.article-content {
    white-space: pre-line;
    color: #fafafa;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.bg-dark-one {
    background-color: #21222a;
}

.bg-dark-two {
    background-color: #282d35;
}

.brd-btm {
    border-bottom: 2px solid #333333;
}
