
h1, h2, h3, h4, h5, h6 {
    color: #f9f9f9;
}

ul {
    margin: 0;
}

/* .site-header .navbar-nav .nav-link {
    color: #cbd5db;
} */

/* .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
} */

/* .site-header .navbar-nav .nav-link:active {
    font-weight: 500;
} */
.content-section {
    color: #cbd5db;
    background-color: #282d35;
    padding: 10px 20px;
    border: 1px solid #555;
    border-radius: 3px;
    margin-bottom: 20px;
    transition: all .2s ease-in-out;
}


.zoom:hover {
    transform: scale(1.02);
}

.article-title {
    color: #fafafa;
    text-decoration: none;
}

a.article-title:hover {
    color: #0275d8 ;
}

.article-content {
    white-space: pre-line;
    color: #fafafa;
}

.article-metadata {
    padding-bottom: 3px;
    margin-bottom: 8px;
    border-bottom: 1px solid #555;
}

.article-metadata a:hover {
    color: #fafafa;
    text-decoration: none;
}

.bg-dark-one {
    background-color: #21222a;
}

.bg-dark-two {
    background-color: #282d35;
}

.brd-btm {
    border-bottom: 1px solid #555;
}

.code {
    font-size: 0.8em;
    max-height: 500px;
    overflow: auto;
}